<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" android:versionCode="1" android:versionName="01.00">
	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15" />
	<application android:label="Continuous Integration"></application>
</manifest>